# Exercises

##  Pandas

**MovieLens database**

In [1]:
import pandas as pd

users_data =  '../ml-1m/users.dat'
ratings_data = '../ml-1m/ratings.dat'
movies_data =  '../ml-1m/movies.dat'


unames = ['user_id', 'gender', 'age', 'occupation', 'zip']
users = pd.read_csv(users_data, sep='::', header=None, names=unames, engine='python',encoding="utf")
rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(ratings_data, sep='::', header=None, names=rnames,  engine='python',encoding="utf")
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_csv(movies_data, sep='::', header=None, names=mnames,  engine='python',encoding="latin1")

data = pd.merge(pd.merge(ratings, users), movies)
print (data[:30])

    user_id  movie_id  rating   timestamp gender  age  occupation    zip  \
0         1      1193       5   978300760      F    1          10  48067
1         2      1193       5   978298413      M   56          16  70072
2        12      1193       4   978220179      M   25          12  32793
3        15      1193       4   978199279      M   25           7  22903
4        17      1193       5   978158471      M   50           1  95350
5        18      1193       4   978156168      F   18           3  95825
6        19      1193       5   982730936      M    1          10  48073
7        24      1193       5   978136709      F   25           7  10023
8        28      1193       3   978125194      F   25           1  14607
9        33      1193       5   978557765      M   45           3  55421
10       39      1193       5   978043535      M   18           4  61820
11       42      1193       3   978038981      M   25           8  24502
12       44      1193       4   978018995      M   45          17  98052
13       47      1193       4   977978345      M   18           4  94305
14       48      1193       4   977975061      M   25           4  92107
15       49      1193       4   978813972      M   18          12  77084
16       53      1193       5   977946400      M   25           0  96931
17       54      1193       5   977944039      M   50           1  56723
18       58      1193       5   977933866      M   25           2  30303
19       59      1193       4   977934292      F   50           1  55413
20       62      1193       4   977968584      F   35           3  98105
21       80      1193       4   977786172      M   56           1  49327
22       81      1193       5   977785864      F   25           0  60640
23       88      1193       5   977694161      F   45           1  02476
24       89      1193       5   977683596      F   56           9  85749
25       95      1193       5   977626632      M   45           0  98201
26       96      1193       3   977621789      F   25          16  78028
27       99      1193       2   982791053      F    1          10  19390
28      102      1193       5  1040737607      M   35          19  20871
29      104      1193       2   977546620      M   25          12  00926

                                     title genres
0   One Flew Over the Cuckoo's Nest (1975)  Drama
1   One Flew Over the Cuckoo's Nest (1975)  Drama
2   One Flew Over the Cuckoo's Nest (1975)  Drama
3   One Flew Over the Cuckoo's Nest (1975)  Drama
4   One Flew Over the Cuckoo's Nest (1975)  Drama
5   One Flew Over the Cuckoo's Nest (1975)  Drama
6   One Flew Over the Cuckoo's Nest (1975)  Drama
7   One Flew Over the Cuckoo's Nest (1975)  Drama
8   One Flew Over the Cuckoo's Nest (1975)  Drama
9   One Flew Over the Cuckoo's Nest (1975)  Drama
10  One Flew Over the Cuckoo's Nest (1975)  Drama
11  One Flew Over the Cuckoo's Nest (1975)  Drama
12  One Flew Over the Cuckoo's Nest (1975)  Drama
13  One Flew Over the Cuckoo's Nest (1975)  Drama
14  One Flew Over the Cuckoo's Nest (1975)  Drama
15  One Flew Over the Cuckoo's Nest (1975)  Drama
16  One Flew Over the Cuckoo's Nest (1975)  Drama
17  One Flew Over the Cuckoo's Nest (1975)  Drama
18  One Flew Over the Cuckoo's Nest (1975)  Drama
19  One Flew Over the Cuckoo's Nest (1975)  Drama
20  One Flew Over the Cuckoo's Nest (1975)  Drama
21  One Flew Over the Cuckoo's Nest (1975)  Drama
22  One Flew Over the Cuckoo's Nest (1975)  Drama
23  One Flew Over the Cuckoo's Nest (1975)  Drama
24  One Flew Over the Cuckoo's Nest (1975)  Drama
25  One Flew Over the Cuckoo's Nest (1975)  Drama
26  One Flew Over the Cuckoo's Nest (1975)  Drama
27  One Flew Over the Cuckoo's Nest (1975)  Drama
28  One Flew Over the Cuckoo's Nest (1975)  Drama
29  One Flew Over the Cuckoo's Nest (1975)  Drama

1- Filter films that have received at least 250 ratings:

In [6]:
rev_by_movie = ratings.groupby('movie_id')['user_id'].count()
data_filtered = data[data['movie_id'].map(rev_by_movie)>250]
data_filtered.head()

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,M,56,16,70072,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,M,25,12,32793,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,M,25,7,22903,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,M,50,1,95350,One Flew Over the Cuckoo's Nest (1975),Drama

**Using the previous filtered films**:

2- Obtain the mean ratings for each movie grouped by gender

In [32]:
### Your Code HERE
rating_by_gender=data_filtered.groupby(['movie_id', 'title','gender']).rating.mean()
rating_by_gender

movie_id  title                       gender
1         Toy Story (1995)            F         4.187817
                                      M         4.130552
2         Jumanji (1995)              F         3.278409
                                      M         3.175238
3         Grumpier Old Men (1995)     F         3.073529
                                                  ...
3948      Meet the Parents (2000)     M         3.641838
3949      Requiem for a Dream (2000)  F         3.950000
                                      M         4.174107
3952      Contender, The (2000)       F         3.761905
                                      M         3.787986
Name: rating, Length: 2428, dtype: float64

**Using the previous filtered films:**

3- Show the films most valued by women.

In [37]:
### Your Code HERE
# Using the same object as before
rating_by_gender[rating_by_gender.index.map(lambda g: g[-1]=='F')].sort_values(ascending=False)[:10]

# Redoing the object
data_filtered[data_filtered['gender']=='F'].groupby(['movie_id', 'title','gender']).rating.mean().sort_values(ascending=False)[:10]

movie_id  title                                                   gender
745       Close Shave, A (1995)                                   F         4.644444
1148      Wrong Trousers, The (1993)                              F         4.588235
922       Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)           F         4.572650
720       Wallace & Gromit: The Best of Aardman Animation (1996)  F         4.563107
527       Schindler's List (1993)                                 F         4.562602
318       Shawshank Redemption, The (1994)                        F         4.539075
1223      Grand Day Out, A (1992)                                 F         4.537879
1207      To Kill a Mockingbird (1962)                            F         4.536667
3429      Creature Comforts (1990)                                F         4.513889
50        Usual Suspects, The (1995)                              F         4.513317
Name: rating, dtype: float64

**Using the previous filtered films:**

4- Now we wonder which movies are rated more differently between men and women. 
    * Which films have more different rating and are more highly valued by women? 
    * And the films preferred by men which doesn't liked women? 
    * What are the films that have generated the most discordant ratings, regardless of gender?

In [58]:
### Your Code HERE
is_men = data['gender']=='M'
is_women = data['gender']=='F'

rating_by_men = data[is_men].groupby('movie_id').rating.mean()
rating_by_women = data[is_women].groupby('movie_id').rating.mean()
std = data[is_women].groupby('movie_id')['rating'].mean()

movies['men_rating'] = movies['movie_id'].map(rating_by_men)
movies['women_rating'] = movies['movie_id'].map(rating_by_women)
movies['std'] = movies['movie_id'].map(std)

movies['diff_rating'] = movies['women_rating']-movies['men_rating']

print('Which films have more different rating and are more highly valued by women?')
print(movies.sort_values('diff_rating', ascending=False).head())

print('\n\nAnd the films preferred by men which doesn\'t liked women?')
print(movies.sort_values('diff_rating', ascending=True).head())

print("\n\nWhat are the films that have generated the most discordant ratings, regardless of gender?")
print(movies.sort_values('std', ascending=False).head())

Which films have more different rating and are more highly valued by women?
      movie_id                                              title  \
3067      3136                       James Dean Story, The (1957)
679        687                                Country Life (1994)
2754      2823  Spiders, The (Die Spinnen, 1. Teil: Der Golden...
766        776                                   Babyfever (1994)
3572      3641                           Woman of Paris, A (1923)

             genres  men_rating  women_rating  diff_rating       std
3067    Documentary    1.000000      4.000000     3.000000  4.000000
679   Drama|Romance    2.000000      5.000000     3.000000  5.000000
2754   Action|Drama    1.000000      4.000000     3.000000  4.000000
766    Comedy|Drama    1.000000      3.666667     2.666667  3.666667
3572          Drama    2.428571      5.000000     2.571429  5.000000


And the films preferred by men which doesn't liked women?
     movie_id                                       title             genres  \
675       682  Tigrero: A Film That Was Never Made (1994)  Documentary|Drama
136       138                      Neon Bible, The (1995)              Drama
261       264                            Enfer, L' (1994)              Drama
750       760                           Stalingrad (1993)                War
863       874          Killer: A Journal of Murder (1995)        Crime|Drama

     men_rating  women_rating  diff_rating  std
675    4.333333           1.0    -3.333333  1.0
136    4.000000           1.0    -3.000000  1.0
261    3.750000           1.0    -2.750000  1.0
750    3.593750           1.0    -2.593750  1.0
863    3.428571           1.0    -2.428571  1.0


What are the films that have generated the most discordant ratings, regardless of gender?
      movie_id                                              title  \
52          53                                    Lamerica (1994)
3747      3817   Other Side of Sunday, The (Søndagsengler) (1996)
1396      1420  Message to Love: The Isle of Wight Festival (1...
2263      2332                                       Belly (1998)
2060      2129                       Saltmen of Tibet, The (1997)

            genres  men_rating  women_rating  diff_rating  std
52           Drama    4.666667           5.0     0.333333  5.0
3747  Comedy|Drama    2.928571           5.0     2.071429  5.0
1396   Documentary    3.833333           5.0     1.166667  5.0
2263   Crime|Drama    3.000000           5.0     2.000000  5.0
2060   Documentary    3.571429           5.0     1.428571  5.0

5- Calculate the average rating of each user.

In [ ]:
### Your Code HERE

6- What is the highest rated movie in average that have received at least 250 ratings?

In [ ]:
### Your Code HERE

7- Define a function called  <b>top_movies</b> that given an user and a number n, it returns the top n movies for this user.

In [72]:
def top_movies(user, n=10):
### Your Code HERE
    return data[data['user_id']==user].sort_values('rating', ascending=False)[:n]['title']
top_movies(users.iloc[0]['user_id'])

0        One Flew Over the Cuckoo's Nest (1975)
50759                              Dumbo (1941)
41626                          Toy Story (1995)
19503                         Awakenings (1990)
43703                           Rain Man (1988)
25853                   Schindler's List (1993)
37339                         Cinderella (1950)
15859                Sound of Music, The (1965)
28501                         Pocahontas (1995)
49748                       Mary Poppins (1964)
Name: title, dtype: object

**Data from CSV**

8- Read data from csv file: `ma-ba.csv`. Count the number of times `Barça` wins `Madrid` and compute the stadistics of % win, % lose and % draw.

In [ ]:
### Your Code HERE

#### !!! Compare your results with the csv files located in results.zip !!!