### Conditionals

### 1. 
Modify the code below so that it prints on screen whether the number is even, odd or zero (Hint: use the % operator)

In [24]:
a = 5
def is_even(a):
    
    if a == 0:
        even_odd = "zero"
    elif a % 2 == 0:
        even_odd = "Even"
    else: 
        even_odd = "Odd"
        
    ###########################################
    # add your conditional statements here
    

    ###########################################
    print("The number", a, "is: ", even_odd )
is_even(a)

The number 5 is:  Odd

### 2.

Add a condition to the previous code to check that the number is an integer.

In [25]:
a = "I'm not an integer"

def is_even(a):
    if type(a) == int:
        if a==0:
            result = "zero"
        elif a % 2 == 0:
            result = "Even"
        else: 
            result = "Odd"
    else:
        result = "not a integer"
    
    print("The number", a, "is:", result)
    
    ###########################################
    # add your conditional statements here.
    
    # Check is integer
    
    # Check is even/odd
    
    ###########################################

is_even(a)

The number I'm not an integer is: not a integer

### 3. 
Create a function that takes 2 parameters. Given two integer numbers return their product only if the product is greater than 1000, else return their sum.

In [42]:
def f (a,b):
    product = a*b
    if product > 1000:
        return product
    else: 
        return a+b
print( f(499,2),f(3,333),f(500,2), f(91,11), f(501,2) )
# Your code goes here

501 336 502 1001 1002

## Lists

### 4.
Concatenate two list index-wise

In [47]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

# Your code goes here

[x+y for x,y in zip(list1,list2)]
# Expected output:
# ['My', 'name', 'is', 'Kelly']

['My', 'name', 'is', 'Kelly']

### 5.
Concatenate two list item to item to get the expected output

In [50]:
list1 = ["Hello ", "Bye "]
list2 = ["Dear", "Sir"]

[header+person for header in list1 for person in list2]

# Your code goes here
#l = []
#for header in list1:
#    for person in list2:
#        l.append(header + person)
#l



# Expected output:
# ['Hello Dear', 'Hello Sir', 'Bye Dear', 'Bye Sir']

['Hello Dear', 'Hello Sir', 'Bye Dear', 'Bye Sir']

### 6.
Find number 20 in the following list and replace it by 200. Replace only the first occurrence

In [53]:
mylist = [5, 10, 15, 20, 25, 50, 20]

mylist[mylist.index(20)] = 200
# Your code goes here
mylist
# Expected output:
# [5, 10, 15, 200, 25, 50, 20]

[5, 10, 15, 200, 25, 50, 20]

### 7.
Remove all 20s from the following list

In [60]:
mylist = [5, 10, 15, 20, 25, 50, 20]

[x for x in mylist if x != 20]
#for i,element in enumerate(mylist):
#    if element == 20:
#        del mylist[i]
# Your code goes here
#mylist
# Expected output:
# [5, 10, 15, 25, 50]

[5, 10, 15, 25, 50]

### 8. 
Write a program to iterate through the item in a list and in each iteration, print the sum of the current and previous number.

In [67]:
mylist = list(range(2, 20, 4))

print(mylist)
i = 0
previous = 0
while i < len(mylist):
    current = mylist[i]
    print ("Current item: ", current, "previous item", previous, "sum: ", current + previous)
    previous = current 
    i += 1


# Your code goes here

# Expected output:
# Current item: 2 previous item: 0 sum: 2
# Current item: 6 previous item: 2 sum: 8
# Current item: 10 previous item: 6 sum: 16
# Current item: 14 previous item: 10 sum: 24
# Current item: 18 previous item: 14 sum: 32

[2, 6, 10, 14, 18]
Current item:  2 previous item 0 sum:  2
Current item:  6 previous item 2 sum:  8
Current item:  10 previous item 6 sum:  16
Current item:  14 previous item 10 sum:  24
Current item:  18 previous item 14 sum:  32

# Dictionaries

### 9.
Given the following list of dictionary, create a new dictionary  containing the salary for each name

In [70]:
sampleDict = [{
      "name": "Kelly",
      "age":25,
      "salary": 1000,
      "city": "New york"
    },{
      "name": "Ben",
      "age":30,
      "salary": 8000,
      "city": "Barcelona"
    },{
      "name": "Ruben",
      "age":18,
      "salary": 1200,
      "city": "Sabadell"
    }]

# Your code goes here

{x["name"]:x["salary"] for x in sampleDict}

# Expected output:
# {'Kelly': 1000, 'Ben': 8000, 'Ruben': 1200}

{'Kelly': 1000, 'Ben': 8000, 'Ruben': 1200}

### 10.
Get the subject with the minimum score on the following dictionary

In [91]:
scores = {
  'Physics': 82,
  'Math': 65,
  'History': 75
}

# Your code goes here

min(scores,key=scores.get)

# Expected output:
# Math

'Math'

## Loops

### 11.
Find the average of a list of numbers. Use a for loop to iterate over all elements

In [102]:
mylist = [5, 32, 567, 67, 98, 0, 5, 234, 6, 7 ,21, 9, 32, 1]
print(mylist)

n = len(mylist)

print(n)

average = 0

# your code goes here
for x in mylist:
    average += x
average /= n

print(average)
#print (sum(mylist)/n)

[5, 32, 567, 67, 98, 0, 5, 234, 6, 7, 21, 9, 32, 1]
14
77.42857142857143

### 12.
Find the highest number of the list mylist

In [101]:
mylist = [5, 32, 567, 67, 98, 0, 5, 234, 6, 7 ,21, 9, 32, 1]

highest = 0
for x in mylist:
    if x > highest:
        highest = x
print (highest)
#print (max(mylist))

567

### 13.
Print multiplication table form 1 to 10

In [158]:
# Your code goes here

#[x*y for x in range(1,11) for y in range(1,11)]

for x in range (1,11):
    out =""
    for y in range(1,11):
        out += "{:<3}".format(y*x)
    print (out)
# Expected output:
# 1  2 3 4 5 6 7 8 9 10 
# 2  4 6 8 10 12 14 16 18 20 
# 3  6 9 12 15 18 21 24 27 30 
# 4  8 12 16 20 24 28 32 36 40 
# 5  10 15 20 25 30 35 40 45 50 
# 6  12 18 24 30 36 42 48 54 60 
# 7  14 21 28 35 42 49 56 63 70 
# 8  16 24 32 40 48 56 64 72 80 
# 9  18 27 36 45 54 63 72 81 90 
# 10 20 30 40 50 60 70 80 90 100

1  2  3  4  5  6  7  8  9  10
2  4  6  8  10 12 14 16 18 20
3  6  9  12 15 18 21 24 27 30
4  8  12 16 20 24 28 32 36 40
5  10 15 20 25 30 35 40 45 50
6  12 18 24 30 36 42 48 54 60
7  14 21 28 35 42 49 56 63 70
8  16 24 32 40 48 56 64 72 80
9  18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

## List Comprehensions

### 14.
Create a list containing all possible combinations of elements between list1 and list2 in which the elements are not equal

In [161]:
list1 = [10, 20, 30]
list2 = [30, 10, 50]


# Your code goes here
[[x,y] for x in list1 for y in list2 if x!=y]

# Expected output:
# [[10, 30], [10, 50], [20, 30], [20, 10], [20, 50], [30, 10], [30, 50]]

[[10, 30], [10, 50], [20, 30], [20, 10], [20, 50], [30, 10], [30, 50]]

### 15.
Create a list that contains all the elements in list l2 which are not in list l1. Do it first using a for loop and then using list comprehensions

In [172]:
l1 = [1, 87, 45, 21, 7, 6, 234, 5, 0, 98, 65, 5, 2]
l2 = [5, 32, 567, 67, 98, 0, 5, 234, 6, 7 ,21, 9, 32, 1]

# Your code goes here
difference = l2[:]
for i in l1 :
    difference = [x for x in difference if x!=i]
print(difference)
#set(l2).difference(set(l1))

[32, 567, 67, 9, 32]

## Functions

### 16.
Write a program to iterate a given list and count the occurrence of each element and create a dictionary to show the count of each element.

In [179]:
sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]

# Your code goes here
def occurrencies(sample_list):
    dictionary={}
    for element in sample_list:
        if element in dictionary:
            dictionary[element]+=1
        else:
            dictionary[element] = 1
    return dictionary

occurrencies(sample_list)

# Expected output:
# {11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

### 17.
Create a function that iterates through a given list and checks if a given element exists as a key’s value in a dictionary. If not, delete it from the list. Both the list and the dictionary are passed as arguments

In [189]:
roll_number = [47, 64, 69, 37, 76, 83, 97]
sample_dict = {'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}

# Your code goes here
def checker(roll_number, sample_dict):
    for i,element in enumerate(roll_number):
        if element not in sample_dict.values():
            del roll_number[i]
    return roll_number


print(checker(roll_number[:],sample_dict))
# Expected output:
# [47, 69, 76, 97]

[47, 69, 76, 97]

### 18.
Write a function to return True if the first and last number of a given list is same. If numbers are different then return False. Try it with the following lists

In [190]:
numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]

# Your code goes here

def checker(numbers):
    return numbers[0] == numbers[-1]

print(checker(numbers_x))
print(checker(numbers_y))
# Expected output for numbers_x:
# True
# Expected output for numbers_y:
# False

True
False

### 19.
Factorial: The factorial of a non-negative integer $n$, denoted by $n!$, is the product of all positive integers less than or equal to $n$.  Complete the function below so that it return the factorial of n

In [194]:
def factorial(n):
    fact = 1
    for x in range(1,n+1):
        fact *= x
    # Your code goes here
    
    return fact

factorial(5)

120

### 20.
The Fibonacci Sequence is the series of numbers: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, ...

The general rule to compute the sequence is very simple: The next number is found by adding up the two numbers before it and fib1(0) = 0 and fib1(1) = 1. Complete the function below.

In [264]:
def fib1(n):
    fib = 0 
    previous= 0
    current= 1
    # Your code goes here
    if (n==1):
        fib = 1
    elif (n>1):
        for _ in range(1,n):
            fib = current + previous
            previous = current
            current = fib
    return fib

fib1(20)

6765